$palette: (

  white-soapstone:   #fffdfc,
  pale-blue-lily:    #e3e8ec,

  ebony-clay:        #242c2f,
  livid-spruce:      #313a3f,
  davys-grey:        #495466,

  blue-whale:        #0a2242,
  prussian-blue:     #02486e,
  subtle-aquamarine: #9ab5c4,

  vivid-mantis:      #7cc032,

  fiery-tangerine:   #ff4f12,
  coral-deep:        #fc3737,
  imperial-rose:     #f45b69,

);
