@use 'palette';
@use 'sass:color';


@function color($color-name) {
  @return map-get(palette.$palette, $color-name);
}


$primary-bg: color('pale-blue-lily');
$primary-fg: color('blue-whale');

$outline: color('vivid-mantis');

$header-bg: color('ebony-clay');
$header-fg: color('pale-blue-lily');

$header-link-bg: $header-bg;
$header-link-fg: $header-fg;
$header-link-active-fg: darken($header-fg, 25);
$header-link-hover-bg: lighten($header-bg, 5);
$header-link-hover-fg: darken(color('white-soapstone'), 5);

$navigation-icon: color.adjust($header-fg, $alpha: -0.25);
$navigation-icon-active: color.adjust($header-link-active-fg, $alpha: -0.25);
$navigation-icon-hover: color.adjust($header-link-hover-fg, $alpha: -0.25);

$region-nav-link-fg: color('pale-blue-lily');
$region-nav-link-bg: color.scale(color('blue-whale'), $saturation: -50%);
$region-nav-link-hover-bg: lighten($region-nav-link-bg, 10);
$region-nav-link-active-fg: $region-nav-link-bg;
$region-nav-link-active-bg: transparent;
$region-nav-link-active-border: $region-nav-link-bg;

$form-input-bg: color('white-soapstone');
$form-input-fg: $primary-fg;
$form-input-label-fg: color('davys-grey');
$form-input-outline: color.adjust(color('davys-grey'), $alpha: -0.75);
$form-input-placeholder: color('subtle-aquamarine');
$form-input-accent: color('fiery-tangerine');

$form-button-bg: color('white-soapstone');
$form-button-fg: $primary-fg;
$form-button-main-bg: color('davys-grey');
$form-button-main-fg: color('white-soapstone');

$config-select-tab-bg: color('white-soapstone');
$config-select-tab-fg: color('davys-grey');

$card-bg: color('white-soapstone');

$link-fg: color('prussian-blue');
$link-hover-fg: lighten($link-fg, 15);

$footer-bg: color('ebony-clay');
$footer-fg: lighten(color('davys-grey'), 10);
