@use 'colors';
@use 'fonts';
@use 'sizes';

@import 'normalize.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';


:root {
  --container-min-width: 300px;
  --container-max-width: 1400px;
  --display-heading: inline;
}

@mixin container {
  margin: 0 auto;
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
}


body {
  font-family: fonts.$sans-font;
  font-weight: fonts.$primary-weight;
  background: colors.$primary-bg;
  color: colors.$primary-fg;
}

.wrapper {
  min-width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.container {
  @include container();
  padding: 0 30px;
}

p {
  margin: 100px auto;
}

header {

  user-select: none;

  position: sticky;
  top: 0;

  background-color: colors.$header-bg;
  color: colors.$header-fg;

  font-size: 1.2rem;
  font-weight: fonts.$semibold-weight;

  .container {

    @include container();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h1 {
      padding-right: 50px;
      font-size: 1.3rem;
      margin: 0px;
      display: var(--display-heading);
      height: fit-content;
    }

    .nav {

      .nav__link-list {

        display: inline-flex;
        margin: 0;

        flex-wrap: wrap;
        flex-grow: 1; // ?

        justify-content: end;
        align-items: center;

        list-style: none;
      }
      .nav__link-container {
        display: inline-block;
        margin: 0;
        position: relative;
        height: fit-content;

        &.active-link{
          color: colors.$active-link;
          span::before {
            color: colors.$navigation-icon-active;
          }
          .nav__link-label {
            color: inherit;
          }
        }

        span::before {
          color: colors.$navigation-icon;
        }

        span:not(:only-child)::before {
          padding-right: 8px;
          
        }

        height: auto;
        padding: 16px 20px;

        box-sizing: content-box;

        text-align: center;
        font-size: 1.1rem;

        transition: color 0.2s ease;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: lighten(colors.$header-bg, 5);
            cursor: pointer;
        }

        .nav__link-label {
          text-decoration: none;
          color: colors.$header-fg;
          &:link {
            text-decoration: none;
            color: colors.$header-fg;
          }
        }

      }

      .nav__link-container:hover .nav__dropdown,
      .nav__link-container:focus-within .nav__dropdown,
      .nav__dropdown:hover,
      .nav__dropdown:focus {
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: column;
        width: fit-content;
      }

      .nav__dropdown {

        position: absolute;
        margin-top: 1rem;
        left: 0;

        display: none;

        .nav__link-label {
          clear: both;
          display: block;
          white-space:nowrap;
          padding: 10px 20px;
          text-align: left;
          background-color: colors.$header-bg;
          
          &:hover {
            background-color: lighten(colors.$header-bg, 5);
            cursor: pointer;
          }
          &:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          
        }
      }
    }
  }
}

main {
  padding-top: 20px;
  height: 100vh;
}

footer {
  padding: 60px 0;
  background-color: colors.$footer-bg;
  color: colors.$footer-fg;
}

.config-selector {
  background: colors.$card-bg;
  border-radius: 4px;

  nav {
    display: flex;
  }

  .config-selected-container {
    padding: 20px;
  }

  a {
    display: inline-block;
    padding: 20px;
    flex: 1;
    text-align: center;
    background-color: colors.$config-select-tab-bg;
    transition: background-color 0.25s ease-out;
    color: colors.$config-select-tab-fg;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: darken(colors.$config-select-tab-bg, 5);
    }
    &.config-tab-selected {
      background-color: darken(colors.$config-select-tab-bg, 5);
      cursor: default;
    }
    &:first-child {
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
    }
  }
}

.systems {
  margin-top: 30px;
  padding: 20px;
  background: colors.$card-bg;
  border-radius: 4px;
}